@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
    /* --bg-dark: #441900; */
    /* --bg-dark: #250310; */
    --bg-dark: #360A14;
    --bg-light: #EBAD25;
    --bg-accent: #F34213;
    --fc-dark: #4b5043;
    --fc-light: rgb(197, 197, 197);

    --tv-color-1: #C7EF00; 
    --tv-color-2: #D00000;
    
    
    --fs-xl: clamp(3rem, 12vw, 6rem);
    --fs-500: 1.2rem;
    --fs-400: 1rem;

    
    --ff-accent: 'Pacifico', cursive;
    --ff-header: 'Bungee', serif;
    --header-color: var(--bg-accent);
    --header-text-shadow:
        0.025em 0.025em 0 var(--tv-color-1),
        0.05em 0.05em 0 var(--bg-dark),
        0.075em 0.075em 0 white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.1;
}

section {
    padding: 5em 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: var(--bg-dark);
}

ul {
    list-style: none;
}

input {
    background: inherit;
    font-size: inherit;
    border: none;
    margin: .5em;
    border-bottom: 1px solid var(--bg-dark);
}

.container {
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-vertical {
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-accent);
    font-style: italic;
    font-size: 1.25rem;
    color: var(--bg-dark);
    background: var(--tv-color-1);
    max-width: 20em;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0.25em 0.25em 0.5em var(--bg-dark);
    border-radius: 10px;
}

.card--black {
    background: black;
}

.btn {
    background: var(--bg-accent);
    padding: 0.25em 1.25em;
    border-radius: .5em;
    font-family: var(--ff-accent);
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 50ms;
    border: none;
    box-shadow: .125em .125em .125em #4e340d;
}

.btn:hover {
    /* background: #4e340d; */
    text-shadow: 
    0 0 0.125em currentColor, 
    0 0 0.25em currentColor;
    transform: scale(1.1);
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Hero */

.hero .container {
    max-width: 45rem;
    margin: 0 auto;
    max-height: 100vw;
}

.hero .flex {
    position: relative;
    flex-direction: column;
    background-image: linear-gradient( 135deg,  var(--tv-color-1), var(--tv-color-2));
    border-radius: 50% / 10%;
    align-items: center;
    justify-content: center;
    width: 80%;
    box-shadow: 0 0 2em 1em white;
}

.hero .flex::before,
.hero .flex::after {
    content: '';
    position: absolute;
    top: 8.5%;
    bottom: 8.5%;
    right: -4.35%;
    left: -4.35%;
    background: inherit;
    border-radius: 5% / 50%;
}

.hero .flex::before {
    background: inherit;
}

.hero .flex::after {
    box-shadow: 0 0 2em 1em white;
    z-index: -1;
}

.hero  a {
    text-align: center;
    margin: 0 auto;
    padding: 3em 0;
    font-family: var(--ff-accent);
    font-size: min(5em, 10vw);
    text-shadow:
    0 0 0.125em currentColor, 
    0 0 0.25em currentColor;
    color: white;
    z-index: 2;
}

/* About */

.about {
    background: var(--bg-light);
    padding: 8em 0;
    background-size: cover;
    width: 100%;
    clip-path: polygon(0 4em, 100% 0, 100% calc(100% - 4em), 0% 100%);
}


.about h2 {
    font-family: var(--ff-header);
    color: var(--header-color);
    text-align: center;
    font-size: var(--fs-xl);
    text-shadow: var(--header-text-shadow);
    /* text-shadow: 0.025em 0.025em 0.025em var(--bg-dark); */
    
}

.about .flex {
    margin: 3em auto;
    align-items: center;
    gap: 3em;
}

.about img {
    width: min(25rem, 90vw);
    box-shadow: 0.25em 0.25em 0.4em var(--bg-dark);
}

.about .btn {
    display: block;
    margin: 0 auto;
    /* background: var(--tv-color-2); */
    
}

.about p {
    color: var(--bg-dark);
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Upcoming Shows */



/* Footer */

.footer {
    padding: 0.5em 1em;
}
.footer .flex {
    justify-content: space-between;
}

.footer li {
    display: inline-block;
}
.footer a {
    text-decoration: underline;
    color: var(--fc-light);
    font-size: .75rem;
    margin: 0 0.5em;
}

/* Upcoming Events */

