@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --bg-dark: #250310;
    --bg-light: rgb(236, 236, 236);
    --fc-dark: rgb(51, 51, 51);
    --fc-light: rgb(197, 197, 197);
    --fc-accent-dark: #b079d2;
    --fc-accent-light: #e9791e;
    --tv-color-1: #C7EF00; 
    --tv-color-2: #D00000;

    --ff-header: "Bungee", cursive;
    --ff-accent: 'Pacifico', cursive;
    --header-text-shadow: 
        0.025em 0.025em 0 var(--fc-accent-light),
        0.05em 0.05em 0 blue,
        0.075em 0.075em 0 black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.1;
}

section {
    padding: 5em 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: var(--bg-dark);
    width: 100%;
}

ul {
    list-style: none;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
}

.flex {
    width: 100%;
    display: flex;
    gap: 1em;
}

.card--black {
    background: black;
    border-radius: 5px;
}

.btn {
    display: block;
    background: var(--fc-accent-light);
    padding: 0.25em 1.25em;
    border-radius: .5em;
    font-family: var(--ff-accent);
    font-style: italic;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    transition: 0.1s;
    border: none;
    box-shadow: .125em .125em .125em #4e340d;
}

.btn:hover {
    /* background: #4e340d; */
    text-shadow: 
    0 0 0.125em currentColor, 
    0 0 0.25em currentColor;
}

/* Hero */

.hero .container {
    max-width: 45rem;
    margin: 0 auto;
    max-height: 100vw;
}

.hero .flex {
    position: relative;
    flex-direction: column;
    /* background-image: radial-gradient(var(--tv-color-1), var(--tv-color-2)); */
    background-image: linear-gradient( 135deg,  var(--tv-color-1), var(--tv-color-2));
    border-radius: 50% / 10%;
    align-items: center;
    justify-content: center;
    width: 80%;
    box-shadow: 0 0 2em 1em white;
}
.hero .flex::before,
.hero .flex::after {
    content: '';
    position: absolute;
    top: 8.5%;
    bottom: 8.5%;
    right: -4.35%;
    left: -4.35%;
    background: inherit;
    border-radius: 5% / 50%;
}

.hero .flex::before {
    /* background: var(--background-color-2); */
    background: inherit;
}

.hero .flex::after {
    box-shadow: 0 0 2em 1em white;
    z-index: -1;
}

.hero .flex > a {
    text-align: center;
    margin: 0 auto;
    padding: 3em 0;
    font-family: var(--ff-accent);
    font-size: min(5em, 10vw);
    text-shadow:
    0 0 0.125em currentColor, 
    0 0 0.25em currentColor;
    color: white;
    z-index: 2;
}

/* About */

.about {
    background: #EBAD25;
    /* background-image: url("./microphone2.jpg"); */
    background-size: cover;
    width: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}


.about h2 {
    font-family: var(--ff-header);
    color: var(--fc-accent-dark);
    text-shadow: var(--header-text-shadow);
    width: 100%;
    text-align: center;
    font-size: 6em;
}

.about .flex {
    margin: 3em auto;
    align-items: center;
}

.about img {
    width: 50%;
}

.about .container {
    width: 50rem;
}

.about .btn {
    margin: 0 auto;
}

.about p {
    color: .125em .125em .125em #4e340d;
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Upcoming Shows */

.upcomingShows {
    /* background: url('./fractalcircle.jpg'); */
    background-size: cover;
}

/* Footer */

.footer {
    padding: 0.5em 1em;
}
.footer .flex {
    justify-content: space-between;
}

.footer li {
    display: inline-block;
}
.footer a {
    text-decoration: underline;
    color: var(--fc-light);
    font-size: .75rem;
}

/* Upcoming Events */

